.chart-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

.chart-container {
  width: 500px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
}

.image-item {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
