<div class="text-center container-fluid d-flex align-items-center justify-content-center" style="margin-top: 80px;" >
    <div>
        <h1 class="fontfacemash mb-3" style="color: rgb(51, 56, 153);">Catmash</h1>
        <h4 class="fontfacemash mb-4">Voting website for which picture will be the winning picture!</h4>
    </div>
</div>
        <div class="wrapper d-flex align-items-center justify-content-center" style="margin-top: 200px;">
                <div class="card-switch">
                    <label class="switch">
                        <input type="checkbox" class="toggle">
                        <span class="slider"></span>
                        <span class="card-side"></span>
                        <div class="flip-card__inner">
                            <div class="flip-card__front">
                                <div class="title font" style="color: rgb(51, 56, 153);">Log in</div>
                                <div class="flip-card__form">
                                    <input class="flip-card__input font" name="username" placeholder="Username" type="text" #usernameInput>
                                    <input class="flip-card__input font" name="password" placeholder="Password" type="password" #passwordInput (keydown.enter)="loginuser(usernameInput.value, passwordInput.value)">
                                    <button class="flip-card__btn font" (click)="loginuser(usernameInput.value, passwordInput.value)">Let's go!</button>
                                </div>
                                
                            </div>
                            <div class="flip-card__back">
                                <div class="title font " style="color: rgb(51, 56, 153);">Sign up</div>
                                <div class="flip-card__form">
                                    <div *ngIf="imageUrl">
                                        <img [src]="imageUrl" alt="" class="imgpsize rounded-circle mx-auto">
                                    </div>
                                    <label for="imageInput" class="pointer">
                                    <div class="bfile fontthai" style="margin-left: 5px; cursor: pointer;">
                                        <div class="bfile-container">Add img</div>
                                    </div>
                                    <input type="file" id="imageInput" style="display: none;" (change)="onFileSelected($event)">
                                    </label>
                                    <input class="flip-card__input font" name="name" placeholder="name" type="name" #nameInput>
                                    <input class="flip-card__input font" name="username" placeholder="Username" type="username" #usernameInputt>
                                    <input class="flip-card__input font" name="password" placeholder="password" type="password" #passwordInputt >
                                    <input class="flip-card__input font" name="comfirmpassword" placeholder="Confirm password" type="password" #comfirmpasswordInput (keydown.enter)="signup(nameInput.value, usernameInputt.value, passwordInputt.value, comfirmpasswordInput.value)">
                                    <button class="flip-card__btn font" (click)="signup(nameInput.value, usernameInputt.value, passwordInputt.value, comfirmpasswordInput.value)">Confirm!</button>
                                    
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

              
              

              
              