<app-header></app-header>
<div class="ranking-container">
    <h2>Player Ranking</h2>
    <ul class="player-list">
        <li class="player-item" *ngFor="let player of playerRankings; let i = index">
            <div class="player-details">
                <span class="player-position">{{ i + 1 }}</span>
                <!-- ใช้ *ngFor เพื่อวนลูปผ่าน playerRankings -->
                <img [src]="player.imgurl" alt="{{ player.name }}" class="player-image">
                <div class="player-info">
                    <span class="player-name">{{ player.name }}</span>
                    <span class="player-rating">Elo Rating: {{ player.score }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
