

.imgsize{
    width: 140px;
    height: 120px;
    object-fit: cover;
}
.imgpsize {
  width: 90px;
  height: 90px; /* กำหนดความสูงเท่ากับความกว้างเพื่อให้เป็นสี่เหลี่ยม */
  object-fit: cover; /* ทำให้ภาพปรับตามขนาด container และตัดเอาส่วนที่เหลือ */
}
.bpro {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(51, 56, 153);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 56, 153);
  }
  
  .bpro:hover {
    background: rgb(51, 56, 153);
    color: white;
    font-size: 1.0em;
  }
  .custom-border {
    border: 1px solid rgb(51, 56, 153); /* เปลี่ยนสีเส้นเป็นแดง */
    
}
.bdele {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(196, 29, 29);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(196, 29, 29);
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255);
  }
  
  .bdele:hover {
    background:  rgb(255, 0, 0);
    color: white;
    font-size: 1.0em;
  }
  .bcha {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(196, 110, 29);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(196, 110, 29);
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255);
  }
  
  .bcha:hover {
    background:   rgb(196, 110, 29);
    color: white;
    font-size: 1.0em;
  }
  .custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }
  .bfile {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(51, 56, 153);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 56, 153);
  }
  
  .bfile:hover {
    background: rgb(51, 56, 153);
    color: white;
    font-size: 1.0em;
  }
  .bfile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.imgaddphosize{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.spinner {
  width: 50px;
  height: 50px;
}
.centered-content h1,h2, .centered-content button {
  animation: slideUp 0.5s ease-out;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide {
  animation: slideUp 0.5s ease-out;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.centered-content button {
  margin-top: 20px; 

}
button {
  color: rgb(51, 56, 153);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8); 
  border-radius: 5px; 
}
.imgloppsize{
  width: 305px;
  height: 305px;
  object-fit: cover; 
}
.arrow-container {
  display: inline-block; // ให้ลูกศรแสดงในบรรทัดเดียวกับข้อความ
  margin-right: 5px; // ระยะห่างข้างขวาของลูกศรกับข้อความ
}

.arrow-icon {
  width: 20px; // ปรับขนาดของลูกศรตามที่ต้องการ
  height: 20px; // ปรับขนาดของลูกศรตามที่ต้องการ
}
.card {
  height: 100%; /* ตั้งค่าความสูงของการ์ดให้เต็มสูง */
  display: flex; /* ใช้ Flexbox เพื่อจัดการความสูง */
  flex-direction: column; /* จัดเรียงลักษณะคอลัมน์ */
}
