.imgsize{
    width: 120px;
    height: auto;
}
.imgpsize{
    width: 90px;
    height: auto;
}
.bpro {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(51, 56, 153);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 56, 153);
  }
  
  .bpro:hover {
    background: rgb(51, 56, 153);
    color: white;
    font-size: 1.0em;
  }
  .custom-border {
    border: 1px solid rgb(51, 56, 153); /* เปลี่ยนสีเส้นเป็นแดง */
    
}
.bdele {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(196, 29, 29);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(196, 29, 29);
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255);
  }
  
  .bdele:hover {
    background:  rgb(255, 0, 0);
    color: white;
    font-size: 1.0em;
  }
  .bcha {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(196, 110, 29);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(196, 110, 29);
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255);
  }
  
  .bcha:hover {
    background:   rgb(196, 110, 29);
    color: white;
    font-size: 1.0em;
  }
  .custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }
  .bfile {
    width: 140px;
    height: 40px;
    border: 3px solid rgb(51, 56, 153);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 56, 153);
  }
  
  .bfile:hover {
    background: rgb(51, 56, 153);
    color: white;
    font-size: 1.0em;
  }
  .bfile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.imgaddphosize{
  width: 400px;
  height: auto;
}
