<app-header></app-header>
<div class="container text-center" style="margin-top: 110px;">
    <h2 class="slide-up">Profile</h2>
    <div *ngIf="User && User.length > 0" class="d-flex flex-column align-items-center">
        <img [src]="User && User[0] ? User[0].image : ''" alt="imageprofile" class="imgsize rounded-circle">
        <h1 class="fontfacemash" style="margin-top: 20px; color: rgb(51, 56, 153);;">{{User[0].name}}</h1>
        <h4 style="color: rgb(51, 56, 153);">{{User[0].note}}</h4>
        <div class="row mb-3">
            <div class="col">
                <button class="bpro" data-bs-target="#editprofile" data-bs-toggle="modal">Edit profile</button>
            </div>
            <div class="col">
                <button class="bpro" data-bs-target="#editpassword" data-bs-toggle="modal">Edit password</button>
            </div>
            <div class="col">
                <button class="bpro" data-bs-target="#addphoto" data-bs-toggle="modal">+ Photo</button>
            </div>
        </div>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
        <div class="row mt-3" *ngIf="imgUser.length > 0">
            <div class="col-md-3 mt-3" *ngFor="let img of imgUser">
                <div class="card" style="background-color:  rgb(51, 56, 153); ">
                    <img src="{{img.imgurl}}" alt="" class="card-img-top img-fluid rounded">
                    <div class="card-body text-left" style="color: rgb(255, 255, 255);">
                        <h3 class="fontfacemash">{{img.name}}</h3>
                        <h6 class="fontfacemash">Elo ranting : <span class="text-danger">{{img.score}}</span></h6>
                        <button class="bcha" style="margin-bottom: 5px;">Change photo</button>
                        <button class="bdele">Delete photo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!User || User.length === 0" class="centered-content" >
            <h1  class="slide-up-text" style="font-size: 20px;">The user has not logged in yet. Please log in to access your profile page.</h1>
            <button routerLink="/login">Go to login</button>
    </div>
</div>


<div class="modal fade" id="editprofile" aria-hidden="true" aria-labelledby="editprofilelabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fontfacemash" id="editprofilelabel" style="color: rgb(51, 56, 153);">Edit profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img [src]="imageUrl" alt="" class="imgpsize rounded-circle mx-auto">
                <label for="imageInput" class="pointer">
                <div class="bfile fontthai" style="margin-left: 5px; cursor: pointer;">
                    <div class="bfile-container">Change img</div>
                </div>
                <input type="file" id="imageInput" style="display: none;" (change)="onImageSelected($event)">
                </label>
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">Name :</h1>
                    <input type="text" class="form-control" id="editname">
                </div>
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">Self description :</h1>
                    <textarea class="form-control" maxlength="100" id="editdescription"></textarea>
                    <small id="word-count" class="form-text text-muted" style="color: rgb(51, 56, 153);">Print no more than 100 characters.</small>
                </div>
                <button class="bpro fontthai">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="loading-container" *ngIf="!isLoading">
    <mat-spinner class="spinner"></mat-spinner>
</div>

<div class="modal fade" id="editpassword" aria-hidden="true" aria-labelledby="editpasswordlabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fontfacemash" id="editpasswordlabel" style="color: rgb(51, 56, 153);">Edit password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" *ngIf="User && User.length > 0">
                <img src="{{User[0].image}}" alt="" class="imgpsize rounded-circle">
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">Old password :</h1>
                    <input type="text" class="form-control" id=">oldpassword">
                </div>
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">New Password :</h1>
                    <input type="password" class="form-control" id="newpassword">
                </div>
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">Confirm password :</h1>
                    <input type="password" class="form-control" id="confirmnewpassword">
                </div>
                <button class="bpro fontthai"> Send </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addphoto" aria-hidden="true" aria-labelledby="addphotolabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fontfacemash" id="addphotolabel" style="color: rgb(51, 56, 153);">+ Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="mb-3">
                <label for="imageuploadInput" class="pointer">
                <div class="bfile fontthai" style="margin-left: 5px; cursor: pointer;">
                    <div class="bfile-container">+ Add photo</div>
                </div>
                <input type="file" id="imageuploadInput" style="display: none;" (change)="onFileSelected($event)">
                </label>
                </div>
                <div *ngIf="imageUrl">
                    <img [src]="imageUrl" alt="" class="imgaddphosize img-fluid mx-auto">
                </div>
                <div class="mb-3">
                    <h1 class="col-form-label fontfacemash" style="color: rgb(51, 56, 153);">Name Photo :</h1>
                    <input type="text" class="form-control" id="addphotoname" #nameimginput>
                </div>
                <button class="bpro fontthai" (click)="addimg(nameimginput.value,User[0].uid)"> Send </button>
            </div>
        </div>
    </div>
</div>


